* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cell-size: 100px;
  --icon-size: calc(var(--cell-size)*.9);
}
.App {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3,1fr);
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px dashed white;
  background-color: #5252AB;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.cell.x::after, .cell.x::before{
  content: "";
  width: calc(var(--icon-size)*0.15);
  height: var(--icon-size);
  background-color: #F6517E;
  position: absolute;
}
.cell.x::before {
  transform: rotate(45deg);
}
.cell.x::after {
  transform: rotate(-45deg);
}
.cell.o::after, .cell.o::before{
  content: "";
  border-radius: 50%;
  position: absolute;
}
.cell.o::before{
  width: calc(var(--icon-size)*.8);
  height: calc(var(--icon-size)*.8);
  background-color: #008BF1;
}
.cell.o::after{
  width: calc(var(--icon-size)*.5);
  height: calc(var(--icon-size)*.5);
  background-color: #5252AB;
}
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
  border-left: none;
}
.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
  border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
  border-bottom: none;
}
.cell:nth-child(1) {
  border-top-left-radius: 35px;
}
.cell:nth-child(9) {
  border-bottom-right-radius: 35px;
}
.cell:nth-child(3) {
  border-top-right-radius: 35px;
}
.cell:nth-child(7) {
  border-bottom-left-radius: 35px;
}
.cell.x, .cell.o {
  cursor: not-allowed;
}